.leftchat {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.leftchat:hover {
    background-color: #ebebeb;
}

.leftchat_inner > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.leftchat_inner {
    margin-left: 15px;
}
